
.kernel-list-item {
    display: flex;
    align-items: center;
	list-style-type: none;
	user-select: none;
	position: relative;
    border-radius: 4px;
}

.kernel-list-item::before {
	content: "";
	position: absolute;
	opacity: 0;
	inset-inline-start: 12px;
	block-size: 40%;
	inline-size: 3px;
	border-radius: 50px;
	background-color: var(--kernel-accent-primary);
}

.kernel-list-item-inner {
    display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
    color: var(--kernel-foreground-secondary);
	font-size: 13px;
    padding-inline: 24px 12px;
	padding-block: 6px;
}

.kernel-list-item:hover::before {
	opacity: 0.5;
}

.kernel-list-item.selected::before {
	opacity: 1;
}

.kernel-list-item:hover {
	background-color: var(--kernel-background-primary);
}

.kernel-list-item:active {
	background-color: var(--kernel-interactive-primary);
}
