---
import "~/styles/Navbar.css";

const { title = "" } = Astro.props;
---

<header class="kernel-navbar">
    <nav class="kernel-navbar-inner">
        <ul class="kernel-navbar-links">
            {title && (
                <li>
                    <a href="/" class="kernel-navbar-title">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 7 7" shape-rendering="crispEdges" width="32" height="32">
                            <path stroke="#a8d46b" d="M1 1h1M3 1h1M5 1h1M1 2h1M3 2h1M5 2h1M1 3h1M3 3h1M5 3h1M3 4h1M1 5h2M4 5h2" />
                        </svg>
                        <span>{title}</span>
                    </a>
                </li>
            )}
            <slot />
        </ul>
        {Astro.slots.has("actions") && <ul class="kernel-navbar-actions">
            <slot name="actions" />
        </ul>}
    </nav>
</header>