---
import "~/styles/NavbarLink.css";

const { selected } = Astro.props;
---

<li class={`kernel-navbar-link-wrapper ${selected ? "selected" : ""}`}>
    <a class="kernel-navbar-link" {...Astro.props}>
        <slot />
    </a>
</li>