<span class="kernel-section-chip">
    <slot />
</span>

<style>
    .kernel-section-chip {
        padding: 6px 16px;
        color: var(--kernel-accent-primary);
        background: var(--kernel-interactive-primary);
        border-radius: 50px;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 12px;
    }
</style>